src/build/
src/quartus13sp01/db/
src/quartus13sp01/incremental_db/
src/quartus13sp01/output_files/
src/quartus13sp01/simulation/
src/quartus13sp01/*.qws
schematic/*.*.lck
schematic/*-backups/
schematic/usb_to_roller_ctrl/*-backups/
